.all-projects-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.all-projects-project {
  width: 50%; /* Account for margins */
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
}

@media (max-width: 900px) {
  .all-projects-project {
    width: calc(50%); /* Two columns */
  }
}

@media (max-width: 600px) {
  .all-projects-project {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
  }
}